<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703244740269-bpslnfg6tmerc817erau4t062oc20a0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703244740269-bpslnfg6tmerc817erau4t062oc20a0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDoyt7aNfVuJwFwU1jz6gvQF-5KlaI2WGs</string>
	<key>GCM_SENDER_ID</key>
	<string>703244740269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.hexcodelabs.stayfit</string>
	<key>PROJECT_ID</key>
	<string>stayfit-mobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>stayfit-mobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703244740269:ios:878721673ba3f9a52b4824</string>
	<key>DATABASE_URL</key>
	<string>https://stayfit-mobileapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>